---
import { object } from 'astro:schema';
import Layout from '../layouts/Layout.astro';
import InstalledPlugins from '../components/InstalledPlugins.tsx';
import PluginSearch from '../components/PluginSearch.tsx';
import ContainerRunnings from '../components/ContainersRunnings.tsx';
import WordpressStatus from '../components/WordpressStatus.tsx';
import DebugInfo from '../components/DebugInfo.tsx';
import { Debug } from 'astro:components';
---

<Layout title="Welcome to Astro.">
    <main class="m-auto p-4 w-[1000px] max-w-[calc(100%-2rem)] text-[20px] leading-[1.6] grid gap-4">
        <div class="text-center">
            <h1 class="text-4xl font-bold leading-none mb-4">FakeWoo Dashboard</h1>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="border p-4 max-h-[650px] overflow-y-auto  rounded shadow">
                <InstalledPlugins client:visible/>
            </div>
            <div class="border p-4 rounded shadow max-h-[650px] overflow-y-auto">
                <PluginSearch client:visible/>
            </div>
        </div>
        <div> 
            <ContainerRunnings client:visible/>
        </div>
		<div>
			<WordpressStatus client:visible/>
		</div>
		<div>
			<DebugInfo client:visible/>
		</div>
    </main>
</Layout>
